.register-form {
    display: flex;
    justify-content: center;
    height: 90%;

    .register-form-container {
        width: 20em;
        margin: auto;
        background-color: white;
        padding: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
        .register-form-inputs {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .link {
            @extend .link;
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
    }

}