.custom-table {
  .header-container {
    display: flex;
    align-items: center;  
    padding-bottom: 12px;
    justify-content: space-between;

    @media screen and (max-width: $break-md) {
      align-items: inherit;
      flex-direction: column;
    }

    .search-container {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .add-button{
      font-size: 15px;
      padding: 12px 24px;
      background: $primary;
      color: $white;
      height: 50px;
      border-radius: 10px;
      
      img {
        margin-right: 10px;
        filter: brightness(5);
      }
    }
  }
}