.file-upload-component {
    .drop-zone {
        display: flex;
        flex-direction: column;

        .dropzone {
            width: auto;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $grey;
            border-radius: 10px;
            border: 2px dashed lightblue;
            padding: 0 20px
        }

        .meta-data {
            display: flex;
            padding-top: 14px;

            button {
                font-size: 15px;
                img {
                    padding-right: 4px;
                }
            }

            .Mui-disabled {
                background-color: $grey;
            }

            aside {
                display: flex;
                align-items: center;
                padding: 0 10px;

                h4 {
                    margin: 5px 0;
                }

                ul {
                    margin: 0 10px;
                    padding: 0 10px;
                }

                .uploaded-files {
                    margin: 0;

                    .file-row {
                        margin: 0;
                    }
                }
            }
        }

        .uploaded-files {
            margin-top: 20px;

            .file-row {
                display: flex;
                margin-bottom: 8px;

                img {
                    margin-right: 12px;
                }

                .description {
                    font-size: 14px;
                    color: $grey;
                }
            }
        }
    }
}
