.sort-filter-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .sort-filter-type {
        padding: 10px;
        border-radius: 20px;

        &:hover {
            background-color: $grey;
            cursor: pointer;
        }
    }
}