#searchfield-container {
    .MuiPaper-root {
        width: 316px;
        box-shadow: none;
        border-radius: 10px;
        border: 1px solid $grey;
        display: flex;
        align-items: center;
        padding: 4px 8px;

        @media screen and (max-width: $break-md) {
            width: auto;
        }

        .MuiInputBase-root {
            width: 100%;
        }
    }
}
